
  <div class="login-card col-lg-12 justify-content-center mx-auto" >
    <form class="form music-select" >
      <div class="form-group">
      <label id="songname" for="songname">{{newSong.name}}</label>
      </div>
      <div class="form-group">
        Artist: <label id="songartist" for="songartist">{{newSong.artist.name}}</label>
      </div>
      <div class="form-group">
       Listen at:<br> <a target="_blank" href="{{newSong.url}}"><label id="songlink" for="songlink">{{newSong.url}}</label></a>
      </div>
      <div class="form-group">
        Rate This <label id="songgenre" for="songgenre">{{genreSelect.dataValues.genre_name}}</label> Song Below!
      </div>
      
    </form>
  </div>

<div class="container-md" style=" margin-top: 60px;font-weight: 900; font-size: x-large; border-color: rgba(47,118,147,1) 52%, ;;"></div>
    <div id="rate-select" class="row rate-select">
        <p class="d-inline-flex gap-2" style="max-width:min-content">
        <button type="button" class="btn btn-light fa-solid fa-microphone-slash"  value="1" data-bs-toggle="button" style="color: blue"><br>1<br> Shut it down</button>
        <button type="button" class="btn btn-light fa-solid fa-poo" value="2" style="color: #5d4b22" data-bs-toggle="button"><br>2<br> it's Poo</button>
        <button type="button" class="btn btn-light fa-solid fa-heart-crack" value="3" style="color: rgb(229, 82, 106)" data-bs-toggle="button"><br>3<br> It's not for me</button>
        <button type="button" class="btn btn-light fa-solid fa-face-rolling-eyes" value="4" style="color: yellowgreen" data-bs-toggle="button"><br>4<br> Bores</button>
        <button type="button" class="btn btn-light fa-solid fa-face-meh" value="5" style="color: green" data-bs-toggle="button"><br>5<br> It's alright</button>
        <button type="button" class="btn btn-light fa-solid fa-face-smile" value="6" style="color: rgb(188, 161, 6)" data-bs-toggle="button"><br>6<br> In the mix</button>
        <button type="button" class="btn btn-light fa-solid fa-heart" value="7" style="color: purple" data-bs-toggle="button"><br>7<br> Lovin</button>
        <button type="button" class="btn btn-light fa-solid fa-face-grin-hearts" value="8" style="color: #f568eb;" data-bs-toggle="button"><br>8<br> Love no hate</button>
        <button type="button" class="btn btn-light fa-solid fa-fire" value="9" style="color: orangered" data-bs-toggle="button"><br>9<br> So Divine</button>
        <button type="button" class="btn btn-light fa-solid fa-repeat" value="10" style="color: #5d4b22" data-bs-toggle="button"><br>10<br> repeating</button>
        {{!-- <p>
            Average Rating:<p id="demo"></p>

        </p> --}}
        </p>
    </div>
</div> 

<script src="/js/rateasong.js"></script>
